################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MySudoku/obj/Debug/App.g.cs
/MySudoku/obj/Debug/MainWindow.g.cs
/MySudoku/obj/Debug/Controls/SudokuCellUserControl.g.cs
/MySudoku/obj/Debug/Controls/SudokuGridUserControl.g.cs
/MySudoku/obj/Debug/Controls/SudokuCommandUserControl.g.cs
/MySudoku/obj/Debug/MySudoku_MarkupCompile.cache
/MySudoku/obj/Debug/MySudoku_MarkupCompile.lref
/MySudoku/obj/Release/Controls/SudokuCellUserControl.g.cs
/MySudoku/obj/Release/Controls/SudokuCommandUserControl.g.cs
/MySudoku/obj/Release/Controls/SudokuGridUserControl.g.cs
/MySudoku/obj/Release/App.g.cs
/MySudoku/obj/Release/MainWindow.g.cs
/MySudoku/obj/Release/MySudoku_MarkupCompile.cache
/MySudoku/obj/Release/MySudoku_MarkupCompile.lref
/MySudoku/obj/Release/MySudoku_Content.g.cs
/MySudoku/bin/Debug/MySudoku.exe
/MySudoku/bin/Debug/MySudoku.exe.config
/MySudoku/bin/Debug/MySudoku.pdb
/MySudoku/obj/Debug/Controls/SudokuCellUserControl.baml
/MySudoku/obj/Debug/Controls/SudokuCellUserControl.g.i.cs
/MySudoku/obj/Debug/Controls/SudokuCommandUserControl.baml
/MySudoku/obj/Debug/Controls/SudokuCommandUserControl.g.i.cs
/MySudoku/obj/Debug/Controls/SudokuGridUserControl.baml
/MySudoku/obj/Debug/Controls/SudokuGridUserControl.g.i.cs
/MySudoku/obj/Debug
/MySudoku/obj/Release
/MySudoku/bin/Release/MySudoku.exe
/MySudoku/bin/Release/MySudoku.exe.config
/MySudoku/bin/Release/MySudoku.pdb
